## **Creating the table - using pymysql**

#### **Introduction**

Did you know that over 115 million kilograms of pizza is consumed daily worldwide??? (Well according to Wikipedia anyway…)

Danny was scrolling through his Instagram feed when something really caught his eye - “80s Retro Styling and Pizza Is The Future!”

Danny was sold on the idea, but he knew that pizza alone was not going to help him get seed funding to expand his new Pizza Empire - so he had one more genius idea to combine with it - he was going to Uberize it - and so Pizza Runner was launched!

Danny started by recruiting “runners” to deliver fresh pizza from Pizza Runner Headquarters (otherwise known as Danny’s house) and also maxed out his credit card to pay freelance developers to build a mobile app to accept orders from customers.

#### **Available Data**

Because Danny had a few years of experience as a data scientist - he was very aware that data collection was going to be critical for his business’ growth.

He has prepared for us an entity relationship diagram of his database design but requires further assistance to clean his data and apply some basic calculations so he can better direct his runners and optimise Pizza Runner’s operations.

All datasets exist within the pizza_runner database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.

![image.png]()

#### *Table 1: runners*

The runners table shows the registration_date for each new runner

#### *Table 2: customer_orders*

Customer pizza orders are captured in the customer_orders table with 1 row for each individual pizza that is part of the order.

The pizza_id relates to the type of pizza which was ordered whilst the exclusions are the ingredient_id values which should be removed from the pizza and the extras are the ingredient_id values which need to be added to the pizza.

Note that customers can order multiple pizzas in a single order with varying exclusions and extras values even if the pizza is the same type!

The exclusions and extras columns will need to be cleaned up before using them in your queries.

#### *Table 3: runner_orders*

After each orders are received through the system - they are assigned to a runner - however not all orders are fully completed and can be cancelled by the restaurant or the customer.

The pickup_time is the timestamp at which the runner arrives at the Pizza Runner headquarters to pick up the freshly cooked pizzas. The distance and duration fields are related to how far and long the runner had to travel to deliver the order to the respective customer.

There are some known data issues with this table so be careful when using this in your queries - make sure to check the data types for each column in the schema SQL!

#### *Table 4: pizza_names*

At the moment - Pizza Runner only has 2 pizzas available the Meat Lovers or Vegetarian!

#### *Table 5: pizza_recipes*

Each pizza_id has a standard set of toppings which are used as part of the pizza recipe.

#### *Table 6: pizza_toppings*

This table contains all of the topping_name values with their corresponding topping_id value

In [1]:
#loading the tables
!pip install pymysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
def mysql(query:'Write the query here .'):
    '''
    This function fetches data from database and returns the result.
    '''
    try:
        engine_db = create_engine('mysql+pymysql://almafolk:8l39zk60q@learning-activity.cejogcrmn6il.ap-south-1.rds.amazonaws.com:3306/assignment', poolclass=NullPool )
        conn = engine_db.connect()
        # Reading Data
        df = pd.read_sql_query(query, conn)

        #if your connection object is named conn
        if not conn.closed:
            conn.close()
        engine_db.dispose()
        return df
    except Exception as e:
        print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 2.6 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

## **Case Study Questions**

This case study has LOTS of questions - they are broken up by area of focus including:

Pizza Metrics
Runner and Customer Experience
Ingredient Optimisation
Pricing and Ratings
Bonus DML Challenges (DML = Data Manipulation Language)

### **A. PIZZA METRICS**
1. How many pizzas were ordered?
2. How many unique customer orders were made?
3. How many successful orders were delivered by each runner?
4. How many of each type of pizza was delivered?
5. How many Vegetarian and Meatlovers were ordered by each customer?
6. What was the maximum number of pizzas delivered in a single order?
7. For each customer, how many delivered pizzas had at least 1 change and how many had no changes?
8. How many pizzas were delivered that had both exclusions and extras?
9. What was the total volume of pizzas ordered for each hour of the day?
10. What was the volume of orders for each day of the week?

## 1. How many pizzas were ordered?

In [2]:
mysql('''SELECT COUNT(DISTINCT(order_id)) AS no_of_pizzas_ordered
FROM customer_orders''')

   no_of_pizzas_ordered
0                    10

## 2. How many unique customer orders were made?

In [3]:
mysql('''SELECT customer_id, 
                COUNT(order_id) unique_orders 
                FROM customer_orders  
                GROUP BY customer_id ''' )

   customer_id  unique_orders
0          101              3
1          102              3
2          103              4
3          104              3
4          105              1

## 3. How many successful orders were delivered by each runner?

In [4]:
mysql('''SELECT 
          COUNT(order_id)  successful_orders 
          FROM runner_orders 
          WHERE distance !='null' OR 0 ''')

   successful_orders
0                  8

## 4. How many of each type of pizza was delivered?

In [5]:
mysql('''SELECT c.pizza_id, COUNT(c.pizza_id) no_of_pizza_delivered FROM customer_orders c 
            JOIN runner_orders r 
            USING(order_id) where r.distance !=0
          GROUP BY c.pizza_id  ''')

   pizza_id  no_of_pizza_delivered
0         1                      9
1         2                      3

## 5. How many Vegetarian and Meatlovers were ordered by each customer?

In [7]:
mysql('''SELECT c.customer_id, p.pizza_name, COUNT(p.pizza_name) AS no_of_orders
                FROM customer_orders c
                JOIN pizza_names p
                ON c.pizza_id= p.pizza_id
                GROUP BY c.customer_id, p.pizza_name
                ORDER BY c.customer_id''')

   customer_id  pizza_name  no_of_orders
0          101  Meatlovers             2
1          101  Vegetarian             1
2          102  Meatlovers             2
3          102  Vegetarian             1
4          103  Meatlovers             3
5          103  Vegetarian             1
6          104  Meatlovers             3
7          105  Vegetarian             1

## 6. What was the maximum number of pizzas delivered in a single order?

In [10]:
mysql('''SELECT COUNT(c.pizza_id) AS max_no_of_pizzas_in_single_order
 FROM customer_orders AS c
 JOIN runner_orders AS r
  ON c.order_id = r.order_id
 WHERE r.distance != 0
 GROUP BY c.order_id 
 order by COUNT(c.pizza_id) DESC
 LIMIT 1''')

   max_no_of_pizzas_in_single_order
0                                 3

## 7. How many pizzas were delivered that had both exclusions and extras?

In [12]:
mysql('''SELECT c.order_id, 
	SUM(CASE
		WHEN exclusions IS NOT NULL AND extras IS NOT NULL THEN 1
		ELSE 0
		END) AS no_of_pizza_delivered_w_exclusions_extras
FROM customer_orders AS c
JOIN runner_orders AS r
	ON c.order_id = r.order_id
WHERE r.distance >= 1 
	AND exclusions <> ' ' 
	AND extras <> ' ' 
GROUP BY c.order_id, c.pizza_id''')

   order_id  no_of_pizza_delivered_w_exclusions_extras
0         1                                        1.0
1         2                                        1.0
2         3                                        1.0
3         4                                        2.0
4         4                                        1.0
5         5                                        1.0
6         7                                        1.0
7         8                                        1.0
8        10                                        2.0

## 8. What was the total volume of pizzas ordered for each hour of the day?

In [13]:
mysql('''SELECT EXTRACT(hour FROM order_time)  hour_of_the_day, 
          COUNT(order_id) total_pizza_ordered
          FROM customer_orders
          GROUP BY hour_of_the_day''')

   hour_of_the_day  total_pizza_ordered
0               18                    3
1               19                    1
2               23                    3
3               13                    3
4               21                    3
5               11                    1

## 9. What was the volume of orders for each day of the week?

In [17]:

mysql('''SELECT DAY(order_time) AS day_of_week, COUNT(order_id) AS total_pizzas_ordered
FROM customer_orders
GROUP BY DAY(order_time)''')

   day_of_week  total_pizzas_ordered
0            1                     2
1            2                     2
2            4                     3
3            8                     3
4            9                     1
5           10                     1
6           11                     2

### 10. For each customer, how many delivered pizzas had at least 1 change and how many had no changes?

In [19]:
mysql(''' SELECT t1.customer_id, with_changes, no_changes
          FROM (SELECT customer_id, SUM(CASE WHEN exclusions != 0 or extras != 0 THEN 1 ELSE 0 END) AS with_changes
                FROM (SELECT customer_id, CASE WHEN exclusions LIKE 'null' THEN 0 WHEN exclusions = 0 THEN 0 ELSE exclusions  END AS exclusions,
                                          CASE WHEN extras LIKE 'null' THEN 0 WHEN extras IS NULL THEN 0 WHEN extras = 0 THEN 0 ELSE extras END AS extras
                      FROM (SELECT *, IFNULL(cancellation, 0) AS cancel_status
                            FROM runner_orders) AS a INNER JOIN customer_orders AS b ON a.order_id = b.order_id
                      WHERE a.cancel_status != 'Cancelled') AS t
                GROUP BY customer_id) AS t1,

               (SELECT customer_id, SUM(CASE WHEN exclusions = 0 AND extras = 0 THEN 1 ELSE 0 END) AS no_changes
                FROM (SELECT customer_id, CASE WHEN exclusions LIKE 'null' THEN 0 WHEN exclusions = 0 THEN 0 ELSE exclusions  END AS exclusions,
                                          CASE WHEN extras LIKE 'null' THEN 0 WHEN extras IS NULL THEN 0 WHEN extras = 0 THEN 0 ELSE extras END AS extras
                      FROM (SELECT *, IFNULL(cancellation, 0) AS cancel_status
                            FROM runner_orders) AS a INNER JOIN customer_orders AS b ON a.order_id = b.order_id
                      WHERE a.cancel_status != 'Cancelled') AS t
                GROUP BY customer_id) AS t2
            WHERE t1.customer_id = t2.customer_id
          
          ''')

   customer_id  with_changes  no_changes
0          101           0.0         2.0
1          102           0.0         3.0
2          103           3.0         0.0
3          104           2.0         1.0
4          105           1.0         0.0

## 11. How many runners signed up for each 1 week period? (i.e. week starts 2021-01-01)

In [20]:
mysql(''' SELECT runner_id, CONCAT('Week ',round(WEEK(registration_date)+1,0))  AS runner_signups
          FROM runners ''')

   runner_id runner_signups
0          1         Week 1
1          2         Week 2
2          3         Week 2
3          4         Week 3

## 12. What was the average time in minutes it took for each runner to arrive at the Pizza Runner HQ to pickup the order?

In [22]:
mysql('''select runner_id,round(avg(timestampdiff(minute,order_time, pickup_time)),1) as avg_mins_taken_to_arrive_HQ
from runner_orders r
JOIN customer_orders c
on c.order_id = r.order_id
where distance != 0
group by runner_id
order by avg_mins_taken_to_arrive_HQ''')

   runner_id  avg_mins_taken_to_arrive_HQ
0          3                         10.0
1          1                         15.3
2          2                         23.4

## 13. Is there any relationship between the number of pizzas and how long the order takes to prepare?

In [23]:
mysql('''with cte as(
  select c.order_id, count(c.order_id) as no_pizza_ordered, round((timestampdiff(minute, order_time, pickup_time))) as avg_time_to_prepare
  FROM customer_orders c
  JOIN runner_orders r
  ON c.order_id = r.order_id
  WHERE distance != 0 
  GROUP BY c.order_id)

SELECT no_pizza_ordered, avg_time_to_prepare
FROM cte
GROUP BY no_pizza_ordered''')

   no_pizza_ordered  avg_time_to_prepare
0                 1                   10
1                 2                   21
2                 3                   29

## 14. What was the average distance travelled for each customer?

In [24]:
mysql(''' SELECT b.customer_id, AVG(a.distance) AS avg_distance
          FROM (SELECT *, IFNULL(cancellation, 0) AS cancel_status
                FROM runner_orders) AS a INNER JOIN customer_orders AS b ON a.order_id = b.order_id
          WHERE a.cancel_status != 'Cancelled'
          GROUP BY b.customer_id ''')

   customer_id  avg_distance
0          101     20.000000
1          102     16.733333
2          103     23.400000
3          104     10.000000
4          105     25.000000

## 15. What was the difference between the longest and shortest delivery times for all orders?

In [25]:
mysql('''WITH time_taken AS
(
SELECT r.runner_id, c.order_id, c.order_time, r.pickup_time, TIMESTAMPDIFF(MINUTE, c.order_time, r.pickup_time) AS delivery_time
FROM customer_orders AS c
JOIN runner_orders AS r
  ON c.order_id = r.order_id
WHERE r.distance != 0
GROUP BY r.runner_id, c.order_id, c.order_time, r.pickup_time
)

SELECT (MAX(delivery_time) - MIN(delivery_time)) AS diff_longest_shortest_delivery_time
FROM time_taken
WHERE delivery_time > 1''')

   diff_longest_shortest_delivery_time
0                                   19

## 16. What was the average speed for each runner for each delivery and do you notice any trend for these values?

In [26]:
mysql('''SELECT runner_id, c.order_id, COUNT(c.order_id) AS pizza_count, (distance * 1000) AS distance_meter, duration, ROUND((distance * 1000/duration),2) AS avg_speed
FROM runner_orders AS r
JOIN customer_orders AS c
  ON r.order_id = c.order_id
WHERE distance != 0
GROUP BY runner_id, c.order_id, distance, duration
ORDER BY runner_id, pizza_count, avg_speed''')

   runner_id  order_id  pizza_count  distance_meter    duration  avg_speed
0          1         1            1         20000.0  32 minutes     625.00
1          1         2            1         20000.0  27 minutes     740.74
2          1         3            2         13400.0     20 mins     670.00
3          1        10            2         10000.0   10minutes    1000.00
4          2         7            1         25000.0      25mins    1000.00
5          2         8            1         23400.0   15 minute    1560.00
6          2         4            3         23400.0          40     585.00
7          3         5            1         10000.0          15     666.67

## 17. What is the successful delivery percentage for each runner?

In [30]:


mysql(''' SELECT a.runner_id, (successful_deliveries/total_orders)*100 AS successful_delivery_perc
          FROM (SELECT c.runner_id, COUNT(*) AS successful_deliveries
                FROM (SELECT *,IFNULL(cancellation, 0) as cancel_status
                      FROM runner_orders) AS c
                WHERE c.cancel_status != 'Cancelled'
                GROUP BY c.runner_id) AS a INNER JOIN 
                (SELECT runner_id, COUNT(*) AS total_orders
                 FROM runner_orders
                 GROUP BY runner_id) as b ON a.runner_id = b.runner_id
          ; ''')

   runner_id  successful_delivery_perc
0          1                     100.0
1          2                      75.0
2          3                      50.0

## 18. What are the standard ingredients for each pizza?

In [36]:
mysql('''SELECT distinct(topping_name) standard_ingredient from pizza_toppings''')

   standard_ingredient
0                Bacon
1            BBQ Sauce
2                 Beef
3               Cheese
4              Chicken
5            Mushrooms
6               Onions
7            Pepperoni
8              Peppers
9               Salami
10            Tomatoes
11        Tomato Sauce